body {
  margin: 0;
  padding: 0;
}

div#hero {
    background-color: midnightblue;
    color: oldlace;
    text-align:center;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    background-image: url("../photos/pride-fb-cover.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 450px;
  }

#hero h1 {
  font-size: 4em;
  font-family: Tahoma, verdana, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding-top: 4.5em;
  }



main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  /* flex-wrap: wrap-reverse; */
  /* would have preferred this to wrap the other way but ony if I could
  resize the width & haven't figured out how yet */
}

div#add-events {
  max-width: 400px;

  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; */
  vertical-align: top;
  min-width: 320px;
  border: 1px solid lightgray;
  background-color: #efefef;
  padding: 1em;
}

div.form-element {
  display: inline-block;
}
div#display-events {
  /* aaaaarrrgh flexbox!!! */
  /* display: inline-block; */
  flex-direction: row;
  align-self: flex-start stretch;

  justify: left;
  display: flex;
  align-items: flex-start;
  /* align-content: space-around; */
  flex-wrap: wrap;
  background-color: white;
  margin: 2em;
  min-width: 400px;
  border: 5px double midnightblue;
  border-radius: 20px;
  padding: 2em;
}

fieldset {
  margin-bottom: 1em;
  padding: 1em;
}

legend {
  clear: both;
  margin-top: 1em;
}
 label {
   display: block;
   margin-top: 1em;
   margin-bottom: 0.2em;
 }
select {
  width: 200px;
  height: 1.5em;
  line-height: 1.5em;
}
 input {
   width: inherit;
 }

.hidesettimes {
  display: none;
}

.showsettimes {
  display: block;
}

ul#events {
  list-style: none;
}

li.event-details {
  display: inline-block;
  align-self: stretch;
  width: 250px;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin: 1em;
}

li.colour-0 {
  border: 2px solid red;
}

li.colour-1 {
  border: 2px solid orange;

}
li.colour-2 {
  border: 2px solid yellow;
}
li.colour-3 {
  border: 2px solid green;
}
li.colour-4 {
  border: 2px solid blue;
}
li.colour-5 {
  border: 2px solid indigo;
}
li.colour-6 {
  border: 2px solid violet;
}
